# On-Prem JupyterHub values
# Uses Nexus-proxied container images
# Usage: helm upgrade --install jhub jupyterhub/jupyterhub -f values-base.yaml -f values-onprem.yaml
---
hub:
  image:
    # ON-PREM: Use Nexus-proxied JupyterHub hub image
    name: srvnexus1.dst.dk:18079/jupyterhub/k8s-hub
    tag: 4.3.1

singleuser:
  image:
    # ON-PREM: Use Nexus-proxied spark-notebook image
    name: srvnexus1.dst.dk:18079/statkube/spark-notebook
    tag: spark3.5.3-py3.12-1
    pullPolicy: IfNotPresent

proxy:
  service:
    type: NodePort

# Disable the pre-puller explicitly to avoid "hook-image-awaiter" timeouts
prePuller:
  hook:
    enabled: false
    image:
      # ON-PREM: Pre-puller image (if enabled)
      name: srvnexus1.dst.dk:18079/jupyterhub/k8s-image-awaiter
      tag: 4.3.1
  continuous:
    enabled: false

