apiVersion: sparkoperator.k8s.io/v1beta2
kind: SparkApplication
metadata:
  name: spark-pi
  namespace: default
spec:
  type: Scala
  mode: cluster
  image: "statkube/spark-base:spark4.0.1-py3.12-1"
  imagePullPolicy: IfNotPresent
  mainClass: "org.apache.spark.examples.SparkPi"
  mainApplicationFile: "local:///opt/spark/examples/jars/spark-examples_2.13-4.0.1.jar"
  sparkVersion: "4.0.1"
  restartPolicy:
    type: Never
  driver:
    cores: 1
    memory: "1g"
    serviceAccount: "spark-sa"
    labels:
      role: driver
  executor:
    cores: 1
    instances: 2
    memory: "2g"
    labels:
      role: executor


