# On-Prem Polaris deployment
# Uses Nexus-proxied container images
# To deploy: kubectl apply -f polaris-onprem.yaml
---
apiVersion: v1
kind: Namespace
metadata:
  name: polaris
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: polaris
  namespace: polaris
spec:
  replicas: 1
  selector:
    matchLabels:
      app: polaris
  template:
    metadata:
      labels:
        app: polaris
    spec:
      containers:
      - name: polaris
        # ON-PREM: Use Nexus-proxied polaris image
        image: srvnexus1.dst.dk:18079/apache/polaris:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8181
        env:
        # Bootstrap credentials - format: REALM,CLIENT_ID,CLIENT_SECRET
        - name: POLARIS_BOOTSTRAP_CREDENTIALS
          value: "POLARIS,root,s3cr3t"
        # S3 / MinIO credentials
        - name: AWS_REGION
          value: "us-east-1"
        - name: AWS_ACCESS_KEY_ID
          value: "admin"
        - name: AWS_SECRET_ACCESS_KEY
          value: "password"
        # Explicitly configure the default realm name used in client configs
        - name: polaris.realm-context.realms
          value: "POLARIS"
---
apiVersion: v1
kind: Service
metadata:
  name: polaris
  namespace: polaris
spec:
  selector:
    app: polaris
  ports:
  - port: 8181
    targetPort: 8181
    name: http
  - port: 8182
    targetPort: 8182
    name: management

